<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de sobre</title>
</head>

<body>
    <h1>Sobre</h1>
    <p>Descricao da empresa</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo voluptates dolorem quis aliquam quas exercitationem obcaecati id hic, rerum quisquam a, quibusdam, cupiditate dolore voluptas facere. Iure facere reiciendis quae?</p>
    <p>Repellat accusantium veritatis deserunt, a rem autem unde voluptas deleniti culpa ullam, tenetur voluptatem numquam possimus quod eligendi fuga voluptate distinctio. Voluptas repudiandae laborum, error laboriosam distinctio cum maiores eius!</p>
    <p>Deserunt ipsum eum aliquid sint in commodi optio porro nam unde doloremque. Aut, perspiciatis nesciunt minima quisquam totam adipisci mollitia autem qui exercitationem, similique voluptatum itaque eaque fugiat, consectetur et.</p>
    <a href="/products">Acessar produtos</a>
</body>

</html>