<!DOCTYPE html>
<html>

<head>
    <title>
        <title>pagina de produtos</title>
        <!--<%= title %>-->
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        pagina de produtos
        <!--<%= title %>-->
    </h1>
    <!--<p>Welcome to
        <%= title %>
    </p>-->
    <p>Paragrafo</p>
    <p></p>


</body>

</html>