<!DOCTYPE html>
<html>

<head>
    <title>pagina de produtos</title>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <h1>Listagem de produtos</h1>

            <% products.forEach(function(product){%>
                <%= product.name %>
                    <%})%>


        </main>
</body>

</html>